BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
NamespaceIndentation: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
BreakBeforeBraces: Attach
PointerAlignment: Left
SortIncludes: CaseSensitive
